MARKETING_API_BASE_URL=http://lorrysystem-dev-marketing-api:8000
MARKETING_API_KEY=CHANGE_ME

DASHBOARD_SESSION_SECRET=CHANGE_ME
DASHBOARD_REVIEWER_IDENTITY=dev-reviewer
TRUST_CLOUDFLARE_IDENTITY=false

ICP_LOGISTICS_HAULAGE_ID=CHANGE_ME
ICP_PASSENGER_TRANSPORT_ID=CHANGE_ME
ICP_COMMERCIAL_ENTERPRISE_ID=CHANGE_ME
